.about{
    border-radius: 50px;
}
.img{
 border-radius: 50%;
 height: 300px;
}
.information{
    border:1px solid rgb(255, 220, 45);
    /* border-radius: 50px 20px 50px 10px; */
    background-color: rgb(113, 112, 110);
    color: wheat;
    
}
.information:hover{
    border:1px solid rgb(255, 220, 45);
    /* border-radius: 50px 20px 50px 10px; */
    background-color: rgb(86, 85, 84);
    color: wheat;
    box-shadow: 6px 4px 6px 4px rgb(188, 187, 187);
    transition: 0.5s;
}
.second-info{
    border-right: 1px solid rgb(157, 156, 156);
    /* background-color: rgba(198, 180, 180, 0.489); */
}
.faq{
    background-color: rgba(239, 235, 235, 0.914);
}
.client{
    border: 1px solid rgb(70, 70, 69);
}
