.bg-img{
        
            
    height: 80vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"),
      linear-gradient(rgb(60, 116, 200), rgb(247, 69, 102));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: cursive;   
}
.header-1{
    font-size: 50px;
    
}