.submit-img{
    height: 490px;
    padding: 10px;
   
}
/* .contact-section{
    
    width: 100%;
    background-image: url("https://st3.depositphotos.com/3585621/16367/i/450/depositphotos_163673570-stock-photo-dark-brick-wall.jpg"),
      linear-gradient(rgba(7, 7, 7, 0.379), rgba(14, 12, 12, 0.722));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
} */
.service-section{
  background-color: rgba(67, 67, 67, 0.523);
}
.contact{
  background-color: rgba(2, 62, 94, 0.414);
}
